.container {
    padding: 30px;
    background-color: var(--bg-primary);
    display: grid;
    justify-content: center;
    justify-items: center;
    font-family: "Red Hat Text" , sans-serif;
    grid-template-areas: 
    "product-list"
    "cart";

    @media (width>=1400px) {
        grid-template-areas:
          "product-list cart";
      }

}
